%table.tablesorter
  %thead
    %tr
      %th When
      %th Amount
      %th Reason

  %tbody
    - history.each do |entry|
      %tr
        %td= entry.timestamp
        %td= entry.amount
        %td= raw parse_item(entry.reason)
