%table.tablesorter{"data-default" => "0,1"}
  %thead
    %tr
      %th When
      %th Amount
      %th Reason

  %tbody
    - history.each do |entry|
      %tr
        %td= entry.timestamp.to_s(:with_date)
        %td= entry.amount
        %td= raw parse_item(entry.reason)
