%table
  %tr
    %th Character
    %th Current
    %th Lifetime

  - loot.each_character do |entry|
    %tr{:id => "karma_#{entry.name}"}
      %td= entry.name
      %td.current.amount= entry.current
      %td.lifetime.amount= entry.lifetime
