%table.tablesorter{"data-default" => "0,0"}
  %thead
    %tr
      %th Character
      %th Current
      %th Lifetime

  %tbody
    - loot.each_character do |entry|
      %tr{:id => "karma_#{entry.name}"}
        %td= link_to entry.name, loot_history_path(entry.name)
        %td.current.amount= entry.current
        %td.lifetime.amount= entry.lifetime
