<% raid = signup.raid %>
<div class="signup real">
  <%= character_icon signup.character %>
  <span class="character-name"><%= signup.character_name %></span>
  <% if !raid.past? %>
    <span class="signup-actions">
      <% list_available_signup_actions(signup).each do |action| %>
        <%= link_to action.name, update_signup_path(signup.id, command: action.action), :alt => action.name, :class => "command command-#{action.action}" %>
      <% end %>
    </span>
  <% end %>
</div>
