.raid
  = form_for @raid do |f|
    .info
      %h3 Edit Raid

      = render :partial => "form", :locals => {:f => f}

    .submit
      = submit_tag "Update Raid"
      or
      = link_to "Cancel", raid_path(@raid)
