<%= current_guild_chooser %>

<div class="guild-info row">
  <div class="roster span5">
    <% @characters.each do |character| %>
      <div class="character span4" data-character-name="<%= normalize_name character.name %>">
        <%= character_icon character, :large %>
        <div class="name">
          <%= link_to character.name, user_path(character.user) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="events span5 offset2">
  </div>
</div>
