%tr{:class => this_week ? nil : "future"}
  - days.each do |day|
    %td
      .inner
        - if role?(:raid_leader)
          .add
            - if day.date >= Date.today
              = link_to image_tag("add.png"), new_raid_path(:date => day.date.to_s(:default)), :title => "Add Raid for #{day.date.to_s(:short)}"

        .day{:class => day.date_class}
          = day.day_number

        .raids
          = render_cell :calendar, :raids, :date => day.date

