#calendar
  %table
    %tr
      %th Sunday
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday

    = render_week(0)

    = render_week(1)

    = render_week(2)

    = render_week(3)
