%div.queue{:id => @role}
  .header
    = @role.to_s.capitalize.pluralize

  .accepted
    %h3 Accepted

    - @accepted.each do |char|
      = render_cell :characters, :in_raid, :character => char, :queue => :accepted

  .queued
    %h3 Queued

    - @queued.each do |char|
      = render_cell :characters, :in_raid, :character => char, :queue => :queued

  .cancelled
    %h3 Cancelled

    - @cancelled.each do |char|
      = render_cell :characters, :in_raid, :character => char, :queue => :cancelled
