.admin_nav
  - if role?(:admin)
    = link_to "Users", admin_path
    \|
    = link_to "Raids", admin_raids_path
    \|
  = link_to "Loot", admin_loot_path

  - if role?(:admin)
    \|
    = link_to "API", admin_api_path
