* {
  margin: 0;
  padding: 0; }

body {
  background-color: gray; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

/*
 * Notifications
 */
.notice, .error, .warning {
  padding: 5px 10px;
  margin: 5px 0px; }

.notice {
  color: #264409;
  background-color: #e6efc2;
  border: 1px solid #c6d880; }

.error {
  color: #cc0000;
  background-color: #fbe3e4;
  border: 1px solid #fbc2c4; }

.warning {
  color: #9f6000;
  border: 1px solid #cccccc;
  background-color: #feefb3; }

/* CSS3 Buttons Without Images */
button, a.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#b9b9b9));
  background: -moz-linear-gradient(top, white, #b9b9b9);
  padding: 5px 5px 5px 5px; }

button:hover, a.button:hover {
  background: #f0f0f0; }

button:active, button:focus, a.button:active, a.button:focus {
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(white), to(#b9b9b9));
  background: -moz-linear-gradient(bottom, white, #b9b9b9); }

button:disabled, a.button:disabled {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  background: #dcdcdc; }

button.small, a.button.small {
  font-size: 14px; }

button.large, a.button.large {
  font-size: 24px; }

a.button.small {
  padding-bottom: 10px;
  padding-top: 8px; }

#content_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 970px; }

#header {
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid black;
  background-color: white;
  text-align: right; }
  #header .left {
    float: left; }

#content {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid black;
  background-color: white; }

.admin_nav {
  text-align: right; }

#calendar table {
  width: 100%;
  border: 1px solid black; }
  #calendar table td {
    width: 14%;
    height: 100px;
    border: 1px solid black;
    vertical-align: top; }
    #calendar table td .day {
      float: right;
      font-size: 130%;
      font-weight: bold; }
      #calendar table td .day.past {
        color: #7d7d7d; }
      #calendar table td .day.today {
        color: red; }
    #calendar table td .inner {
      position: relative; }
      #calendar table td .inner .add {
        position: absolute;
        right: 0;
        top: 22px; }
    #calendar table td .raids .raid {
      padding: 5px;
      width: 90%; }

.characters h3.section {
  margin-top: 10px;
  border-bottom: 1px solid black; }
.characters .character {
  margin-left: 15px; }
.characters .new_character {
  margin-top: 10px; }

.character {
  clear: both;
  padding: 10px 0px; }
  .character .class_icon {
    float: left;
    padding-right: 10px; }
    .character .class_icon img {
      width: 50px;
      height: 50px; }
  .character .name {
    margin-top: 5px; }
  .character.in_raid .class_icon img {
    width: 30px;
    height: 30px; }

.raid .register {
  float: right;
  padding: 15px; }
  .raid .register #queue_main {
    text-align: right;
    width: 100%; }
    .raid .register #queue_main p {
      margin-top: 5px; }
  .raid .register #queue_form {
    width: 100%;
    display: none; }
.raid form h3 {
  margin-bottom: 10px; }
.raid form .form, .raid form .queues {
  width: 40%;
  float: left; }
.raid form .submit {
  clear: both; }
.raid form table tr td {
  padding-left: 10px;
  padding-bottom: 10px; }
  .raid form table tr td.key {
    text-align: right; }
.raid .queues {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid black; }
  .raid .queues .changes_made {
    display: none; }
  .raid .queues .left, .raid .queues .right {
    width: 440px; }
  .raid .queues .left {
    margin-left: 10px; }
  .raid .queues .right {
    margin-right: 10px; }
  .raid .queues div.queue {
    border: 1px solid blue;
    margin-top: 15px; }
    .raid .queues div.queue .header {
      text-align: center;
      font-weight: bold;
      padding: 5px 10px;
      background-color: blue;
      color: white;
      font-size: 120%; }
      .raid .queues div.queue .header .status {
        padding-left: 10px; }
    .raid .queues div.queue .accepted, .raid .queues div.queue .queued, .raid .queues div.queue .cancelled {
      padding: 10px; }
      .raid .queues div.queue .accepted .character_wrapper:hover, .raid .queues div.queue .queued .character_wrapper:hover, .raid .queues div.queue .cancelled .character_wrapper:hover {
        background-color: #cce6ff; }
      .raid .queues div.queue .accepted h3, .raid .queues div.queue .queued h3, .raid .queues div.queue .cancelled h3 {
        border-bottom: 1px dashed green; }
      .raid .queues div.queue .accepted .actions, .raid .queues div.queue .queued .actions, .raid .queues div.queue .cancelled .actions {
        float: right;
        margin-top: 13px;
        font-weight: bold; }
        .raid .queues div.queue .accepted .actions a, .raid .queues div.queue .queued .actions a, .raid .queues div.queue .cancelled .actions a {
          margin-left: 5px; }
        .raid .queues div.queue .accepted .actions img, .raid .queues div.queue .queued .actions img, .raid .queues div.queue .cancelled .actions img {
          height: 20px;
          width: 20px;
          vertical-align: middle; }
      .raid .queues div.queue .accepted .queueing, .raid .queues div.queue .queued .queueing, .raid .queues div.queue .cancelled .queueing {
        width: 70%;
        float: left; }
        .raid .queues div.queue .accepted .queueing h4, .raid .queues div.queue .queued .queueing h4, .raid .queues div.queue .cancelled .queueing h4 {
          font-size: 110%; }
