<h2>Character Info</h2>

<div class="row">
  <div class="character-info">
    <div class="characters span5">
      <% @characters.each do |character| %>
        <div class="character span4" data-character-name="<%= normalize_name character.name %>">
          <%= character_icon character, :large %>
          <div class="name">
            <%= character.name %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @permissions %>
      <div class="permissions span5 offset2">
        <ul>
          <% @permissions.permissions.each do |permission| %>
            <li><%= Permission.friendly_name(permission) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
