* 
  margin: 0
  padding: 0


body 
  background-color: gray

.left
  float: left

.right
  float: right

.clear
  clear: both

/* CSS3 Buttons Without Images */
 
button
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4)
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4)

  color: rgba(0,0,0,0.9)
  text-shadow: 1px 1px 0px rgba(255,255,255,0.8)
  border: 1px solid rgba(0,0,0,0.5)

  background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)))
  background: -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1))

  padding: 5px 5px 5px 5px
 
button:hover
  background: rgba(240,240,240,1)
 
button:active, button:focus
  background: -webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)))
  background: -moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1))
 
button:disabled
  color: rgba(0,0,0,0.4)
  text-shadow: 1px 1px 0px rgba(255,255,255,0.5)
  background: rgba(220,220,220,1)

button.small
  font-size: 14px

button.large
  font-size: 24px


#content_wrapper
  margin-left: auto
  margin-right: auto
  width: 970px

#header 
  margin-top: 1em
  padding: 0.5em 1em 0.5em 1em
  border: 1px solid black
  background-color: white
  text-align: right

  .left 
    float: left

#content 
  margin-top: 2em

  padding: 1em

  border: 1px solid black
  background-color: white

#calendar 
  table 
    width: 100%
    border: 1px solid black

    td
      width: 14%
      height: 100px 
      border: 1px solid black
      vertical-align: top

      .day
        float: right
        font-size: 130%
        font-weight: bold

        &.past
          color: #7d7d7d

        &.today
          color: red

      .inner
        position: relative

        .add 
          position: absolute

          right: 0
          top: 22px


      .raids .raid 
        padding: 5px
        width: 90%

.character
  clear: both
  padding: 10px 0px

  .class_icon
    float: left
    padding-right: 10px

    img
      width: 50px
      height: 50px

  .name
    margin-top: 5px

  .info

  &.in_raid
    .class_icon img
      width: 30px
      height: 30px

.raid
  .register
    float: right
    padding: 15px

    #queue_main
      text-align: right
      width: 100%

      p
        margin-top: 5px

    #queue_form
      width: 100%
      display: none

  form
    h3
      margin-bottom: 10px

    .info, .queues
      width: 40%
      float: left

    .submit
      clear: both

    table tr td
      padding-left: 10px
      padding-bottom: 10px

      &.key
        text-align: right

  .queues
    margin-top: 15px
    padding-top: 15px
    border-top: 1px solid black

    .left, .right
      width: 440px

    .left
      margin-left: 10px

    .right
      margin-right: 10px

    .queue
      border: 1px solid blue
      margin-top: 15px

      .header
        text-align: center
        font-weight: bold
        padding: 5px 10px
        background-color: blue
        color: white
        font-size: 120%

      .accepted, .queued, .cancelled
        padding: 10px

        h3
          border-bottom: 1px dashed green
      
