* 
  margin: 0
  padding: 0

html
  font-family: "Helvetica", "Arial", sans-serif

body 
  background-color: gray

.left
  float: left

.right
  float: right

.clear
  clear: both

p
  margin-top: 10px

@mixin green-box
  color: black
  border: 2px solid #399C07
  background-color: #D7FFAF

@mixin yellow-box
  color: black
  border: 2px solid #FF7700
  background-color: #FFC28D

@mixin red-box
  color: black
  border: 2px solid #CC2F00
  background-color: #FF9999

/**
 * Notifications
 */
.notice, .error, .warning
  padding: 5px 10px
  margin: 5px 0px

.notice
  @include green-box

.error
  @include red-box

.warning
  @include yellow-box

/* CSS3 Buttons Without Images */
 
button, a.button
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4)
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4)

  color: rgba(0,0,0,0.9)
  text-shadow: 1px 1px 0px rgba(255,255,255,0.8)
  border: 1px solid rgba(0,0,0,0.5)

  background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)))
  background: -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1))

  padding: 5px 5px 5px 5px
  text-decoration: none
 
button:hover, a.button:hover
  background: rgba(240,240,240,1)
 
button:active, button:focus, a.button:active, a.button:focus
  background: -webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)))
  background: -moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1))
 
button:disabled, a.button:disabled
  color: rgba(0,0,0,0.4)
  text-shadow: 1px 1px 0px rgba(255,255,255,0.5)
  background: rgba(220,220,220,1)

button.small, a.button.small
  font-size: 14px

button.large, a.button.large
  font-size: 24px

a.button.small
  padding-bottom: 10px
  padding-top: 8px

#content_wrapper
  margin-left: auto
  margin-right: auto
  width: 970px
  margin-bottom: 30px

#header 
  margin-top: 1em
  padding: 0.5em 1em 0.5em 1em
  border: 1px solid black
  background-color: white
  text-align: right

  .left 
    float: left

#content 
  margin-top: 2em

  padding: 1em

  border: 1px solid black
  background-color: white

.admin_nav
  text-align: right

@import partials/calendar.sass
@import partials/characters.sass
@import partials/raid.sass
@import partials/loot.sass

@import partials/admin.sass
