<h2>Edit Character</h2>

<%= simple_form_for @character, :html => {:class => "form-horizontal"} do |f| %>

  <%= render "form", :f => f %>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Update Character</button>
  </div>
<% end %>
