<% @characters_by_guild.each do |guild, characters| %>
  <div class="character-list row <%= normalize_name(guild.name) %>">
    <div class="section-header span12">
      <h3><%= guild.name %></h3>
    </div>

    <%= render :partial => "character", :collection => sorted_characters_main_first(characters) %>
  </div>
<% end %>

<div class="actions">
  <%= link_to "Add New Character", new_character_path, :class => "btn btn-large" %>
</div>
