<h2>You have the following Characters</h2>

<% @characters.each do |character| %>
  <div class="character">
    <span class="server"><%= character.region %> - <%= character.server %></span>
    <span class="name"><%= character.name %></span>
  </div>
<% end %>

<div>
  <%= link_to "Add New Character", new_character_path, :class => "btn btn-large" %>
</div>