<h2>Add A Character!</h2>

<%= simple_form_for @character, :html => {:class => "form-horizontal"} do |f| %>
  <%= hidden_field_tag :game, "wow" %>

  <%= render "form", :f => f %>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Add Character</button>
  </div>
<% end %>
