%h2 Choose Character

%p
  Type in the name of the character you own. When you find your character, click on its name to assign it to your account.

%p
  = form_tag search_characters_path, :id => "new_character" do
    = label_tag :name, "Character Name"
    = text_field_tag :name, ""

#characters
