// Blue Triad
// http://colorschemedesigner.com/#3x323w0w0w0w0

// Green Tetrad
// http://colorschemedesigner.com/#2O42xw0w0w0w0

$thePastBackground: grey;
$lightGrey: #ddd;
$darkGrey: darken($lightGrey, 20%);

$blue: #1729b0;
$lightBlue: #4b5cd7;

$accepted: #0acf00;
$available: #ffb800;
$cancelled: #fd0006;

$acceptedLight: fade-out($accepted, 0.7);
$availableLight: fade-out($available, 0.7);
$cancelledLight: fade-out($cancelled, 0.7);

// The following colors are for changing bootstrap styles
$bodyBackground: #eee;
$linkColor: lighten($blue, 20%);

@import "bootstrap";
@import "elements";
@import "libraries";

* {
  vertical-align: top;
}

.input-two-char {
  width: 30px;
}

.container {
  margin-top: 30px;
  width: 980px;
}

.container > footer {
  clear: both;

  p {
    text-align: center;
    margin-top: 1em;
  }
}

.content {
  @include border-radius(5px);
  background-color: $white;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.nav {
  margin-top: 1em;
  font-size: 120%;

  &.nav-left {
    float: left;
  }

  &.nav-right {
    float: right;
  }

  li.active {
    font-weight: bold;
  }
}

.section-header {
  border-bottom: 1px solid $darkGrey;
  margin-bottom: 1em;
}

.raid-calendar {
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: transparent;

    &.past {
      background-color: $thePastBackground;
    }
  }

  td {
    width: 14.286%;
    padding: 0px;
    padding-bottom: 10px;
    height: 120px;
  }

  td.today {
  }

  td.past {
    background-color: $thePastBackground;
  }

  .day {
    float: right;
    margin-right: 3px;
    margin-top: 3px;
  }

  .raid {
    clear: both;
    margin: 4px;
    margin-bottom: 8px;
    border-top: 1px dotted $darkGrey;
    padding-left: 2px;
    padding-right: 2px;

    &.available {
      background-color: $availableLight;
    }

    &.accepted {
      background-color: $acceptedLight;
    }

    &.cancelled {
      background-color: $cancelledLight;
    }
  }

  .invite-time {
    float: right;
    font-weight: bold;
    font-size: 85%;
    text-align: right;
  }
}

.raid {
  .raid-role {
    margin-bottom: 1em;
  }

  .status {
    @extend .bordered-tab;
    @extend .tab-above;

    .raid-role {
      @extend .bordered-tab;
      @extend .tab-inside;

      margin-left: 7px;
      display: inline-block;
      width: 299px;
    }
  }

  .accepted {
    @include tab-content("Accepted", $accepted, $acceptedLight);
  }

  .available {
    @include tab-content("Available", $available, $availableLight);
  }

  .cancelled {
    @include tab-content("Cancelled", $cancelled, $cancelledLight);
  }

  .tank::after {
    content: "Tanks";
  }

  .healer::after {
    content: "Healers";
  }

  .dps::after {
    content: "DPS";
  }

  .signup {
    padding: 5px 0px;
    margin: 5px 5px 0px 5px;

    &.real:hover {
      background-color: $lightGrey;
    }

    .character-name {
      display: inline-block;
      padding-top: 3px;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .signup-actions {
    display: block;
    float: right;

    a {
      @extend .btn;
      @extend .btn-mini;
    }

    a.command-accept {
      @extend .btn-success;
    }

    a.command-cancel {
    }

    a.command-unaccept {
    }

    a.command-enqueue {
      @extend .btn-info;
    }
  }
}

.info-block {
  text-align: right;
  margin-bottom: 2em;

  &.left {
    text-align: left;
  }

  .lesser-info {
    font-size: 14px;
    color: $darkGrey;
  }

  .major-info {
    font-size: 30px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.character-list {
  margin-bottom: 1em;
}

.class-icon-large {
  width: 32px;
  height: 32px;
}

.class-icon-medium {
  width: 24px;
  height: 24px;
}

.class-icon-small {
  width: 16px;
  height: 16px;
}

.character {
  img {
    float: left;
    padding-left: 5px;
    padding-right: 10px;
  }

  .name {
    font-weight: bold;
    font-size: 18px;
  }

  .extra {
    color: $gray;
  }

  .actions {
    float: right;
    text-align: right;

    a {
      font-size: 16px;
    }

    form {
      margin-top: 5px;
    }
  }

  margin-bottom: 1em;
}

.add-guild {
  display: none;
}

.guild {
  .guild-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
  }

  .guild-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    color: $gray;
  }
}

.choose-guild {
  margin-bottom: 1em;
}
