$bodyBackground: #eee;

@import "bootstrap";

.container {
  margin-top: 30px;
}

.container > footer {
  clear: both;

  p {
    text-align: center;
    margin-top: 1em;
  }
}

.content {
  @include border-radius(5px);
  background-color: $white;
}

.content .nav {
  margin-top: 1em;
  float: right;
}

.raid-calendar {

  td.today {
    border: 2px solid black;
  }

  td.past {
    background-color: grey;
  }

  .day {
    float: right;
  }
}
