// Blue Triad
// http://colorschemedesigner.com/#3x323w0w0w0w0

// Green Tetrad
// http://colorschemedesigner.com/#2O42xw0w0w0w0

$thePastBackground: grey;
$lightGrey: #ddd;

$blue: #1729b0;
$lightBlue: #4b5cd7;

$accepted: #0acf00;
$available: #ffb800;
$cancelled: #fd0006;

$acceptedLight: fade-out($accepted, 0.7);
$availableLight: fade-out($available, 0.7);
$cancelledLight: fade-out($cancelled, 0.7);

// The following colors are for changing bootstrap styles
$bodyBackground: #eee;
$linkColor: lighten($blue, 20%);

@import "bootstrap";

.container {
  margin-top: 30px;
  width: 980px;
}

.container > footer {
  clear: both;

  p {
    text-align: center;
    margin-top: 1em;
  }
}

.content {
  @include border-radius(5px);
  background-color: $white;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.nav {
  margin-top: 1em;
  font-size: 120%;

  &.nav-left {
    float: left;
  }

  &.nav-right {
    float: right;
  }

  li.active {
    font-weight: bold;
  }
}

.section-header {
  border-bottom: 1px solid $bodyBackground;
  margin-bottom: 1em;
}

.raid-calendar {
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: transparent;

    &.past {
      background-color: $thePastBackground;
    }
  }

  td {
    width: 14.286%;
    padding: 0px;
    padding-bottom: 10px;
    height: 120px;
  }

  td.today {
    border: 2px solid black;
  }

  td.past {
    background-color: $thePastBackground;
  }

  .day {
    float: right;
    margin-right: 3px;
    margin-top: 3px;
  }

  .raid {
    clear: both;
    margin: 4px;
    margin-bottom: 8px;
    border-top: 1px dotted $lightBlue;
  }

  .invite-time {
    float: right;
    font-weight: bold;
    font-size: 85%;
    text-align: right;
  }
}

.raid {
  .invites, .start {
    text-align: center;
    padding: 5px 0px;
  }

  section {
    margin-bottom: 1em;
  }

  .status {
    clear: both;
    @include border-radius(0px 4px 4px 4px);
    position: relative;
    border: 1px solid $lightGrey;
    padding-top: 10px;
    margin-bottom: 34px;

    section {
      margin-left: 8px;
      display: inline-block;
      width: 299px;
    }
  }

  .status::after {
    position: absolute;
    top: -28px;
    left: -1px;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid $lightGrey;
    @include border-radius(4px 4px 0px 0px);
  }

  .accepted {
    border-color: $accepted;

    &::after {
      content: "Accepted";
      background-color: $acceptedLight;
      border-color: $accepted;
    }
  }

  .available {
    border-color: $available;

    &::after {
      content: "Available";
      background-color: $availableLight;
      border-color: $available;
    }
  }

  .cancelled {
    border-color: $cancelled;

    &::after {
      content: "Cancelled";
      background-color: $cancelledLight;
      border-color: $cancelled;
    }
  }

  .signup {
    padding: 2px 5px;
  }

  .signup-actions {
    display: block;
    float: right;

    a {
      @extend .btn;
      @extend .btn-mini;
    }

    a.command-accept {
      @extend .btn-success;
    }

    a.command-cancel {
    }

    a.command-unaccept {
    }

    a.command-enqueue {
      @extend .btn-info;
    }
  }
}

.character-list {
  margin-bottom: 1em;
}

.character {
  img {
    float: left;
    width: 32px;
    height: 32px;
    padding-left: 5px;
    padding-right: 10px;
  }

  .name {
    font-weight: bold;
    font-size: 18px;
  }

  .extra {
    color: $gray;
  }

  &.main-character {
    border: 1px solid $black;
  }

  margin-bottom: 1em;
}
